/* Reset default styles and apply a global font-family */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url("images/football.jpg");
}

h1, h2, h3, h4 {
    text-align: center;
    padding: 1rem;
    color: white;
    font-family: cursive;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
}

.team-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.team {
    width: 45%; /* Adjust the width as needed */
}

.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
}

.player-item {
    display: flex;
    align-items: center;
    width: 25%; /* Show 4 players per row */
    padding: 0.5rem;
}

.player-checkbox {
    margin-right: 0.5rem;
    transform: scale(3); /* Increase checkbox size */
}

.selected-players {
    text-align: center;
}

.selected-players-list {
    display: flex;
    justify-content: space-between;
}

.selected-players-team {
    width: 45%; /* Adjust the width as needed */
}

#selected-players-a,
#selected-players-b {
    list-style-type: none;
    padding: 0;
    font-size: 3.2rem;
    color: white; /* Increase font size for selected players list */
}

#select-players-btn {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#select-players-btn:hover {
    background-color: #0056b3;
}
